<header class="header" id="header">
    <section class="wrapper container">
       <a href="" class="brand">Brand</a>
       <div class="burger" id="burger">
          <span class="burger-line"></span>
          <span class="burger-line"></span>
          <span class="burger-line"></span>
       </div>
       <span class="overlay"></span>
       <nav class="navbar" id="navbar">
          <ul class="menu" id="menu">
             <li class="menu-item"><a href="" class="menu-link">Home</a></li>
             <li class="menu-item menu-dropdown">
                <span class="menu-link" data-toggle="submenu">Feature<i class="bx bx-chevron-down"></i></span>
                <ul class="submenu">
                   <li class="submenu-item"><a href="room" class="submenu-link">Layanan Anda</a></li>
                   <li class="submenu-item"><a href="#" class="submenu-link">Feature Link</a></li>
                   <li class="submenu-item"><a href="#" class="submenu-link">Feature Link</a></li>
                   <li class="submenu-item"><a href="#" class="submenu-link">Feature Link</a></li>
                </ul>
             </li>
             <li class="menu-item menu-dropdown">
                <span class="menu-link" data-toggle="submenu">Discover<i class="bx bx-chevron-down"></i></span>
                <ul class="submenu">
                   <li class="submenu-item"><a href="#" class="submenu-link">Discover Link</a></li>
                   <li class="submenu-item"><a href="#" class="submenu-link">Discover Link</a></li>
                   <li class="submenu-item"><a href="#" class="submenu-link">Discover Link</a></li>
                   <li class="submenu-item"><a href="#" class="submenu-link">Discover Link</a></li>
                </ul>
             </li>
             <li class="menu-item menu-dropdown">
                <span class="menu-link" data-toggle="submenu">Resource<i class="bx bx-chevron-down"></i></span>
                <ul class="submenu">
                   <li class="submenu-item"><a href="#" class="submenu-link">Resource Link</a></li>
                   <li class="submenu-item"><a href="#" class="submenu-link">Resource Link</a></li>
                   <li class="submenu-item"><a href="#" class="submenu-link">Resource Link</a></li>
                   <li class="submenu-item"><a href="#" class="submenu-link">Resource Link</a></li>
                </ul>
             </li>
             <li class="menu-item"><a href="#" class="menu-link">Support</a></li>
          </ul>
       </nav>
    </section>
 
 </header>